<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Entries</h1>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        {% for key, value in entries.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td><a href="/update?key={{ key }}">Update</a></td>
            
        </tr>
        {% endfor %}
        
    </table>
    <button>
        <a href="/delete?key={{ key }}">Delete</a>
    </button>
   
</body>
</html>